
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

body{
    font-family: "Fredoka", sans-serif;
}

h1{
    color: #b91547;
    text-align: center;
}


header p{
    text-align: center;
}


/* css per il main */
.bg-color{
    background-color: black;

}

.row a{
    text-decoration: none;
    color: aqua;
}



